__pycache__/
*.pyc
*.bin
log.txt
config.txt
.codex/
# VSCode
.vscode
useful_tools/GalTransl_DumpInjector/config.ini
useful_tools/GalTransl_DumpInjector/VNTextPatch/names.xml
*.log
venv*/
project/*
!project/config.yaml
!project/headless_config.yaml
!project/api_key.example.txt
python_embeded/
*.gguf
faster-whisper*/
build/
dist/
uvr/
whisper-faster/whisper-faster.exe
*.dll
*.exe
whisper/
llama/
ffmpeg/ffmpeg
